# =========================
# Build artifacts (.NET)
# =========================
**/bin/
**/obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
.nuget/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# Node / Angular
# =========================
node_modules/
dist/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
